# Python
.python-version
__pycache__/
*.pyc
*.log

# Virtual environment
.venv/
uv.lock

# IDEs and other tools
.idea/
.vscode/

# Pytest cache
.pytest_cache/

# Environment variables
.env
.env.*

*.egg-info
